<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appei"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity android:name=".QuizActivity" android:exported="false" />
        <activity android:name=".FaunaFloraActivity" android:exported="false" />
        <activity android:name=".MapaActivity" android:exported="false" />
        <activity android:name=".ImportanciaAmazoniaActivity" android:exported="false" />
        <activity android:name=".SustentabilidadeActivity" android:exported="false" />
        <activity android:name=".AvaliacaoActivity" android:exported="false" />
        <activity android:name=".AboutCreatorsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_KEY" />

        <meta-data
            android:name="com.google.android.gms.auth.api.signin.GoogleSignInOptions"
            android:value="@string/default_web_client_id" />

    </application>
</manifest>
